<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>怪兽组</string>
	<key>2</key>
	<string>水中1组</string>
	<key>3</key>
	<string>虫组</string>
	<key>4</key>
	<string>飞行组</string>
	<key>5</key>
	<string>陆上组</string>
	<key>6</key>
	<string>妖精组</string>
	<key>7</key>
	<string>植物组</string>
	<key>8</key>
	<string>人形组</string>
	<key>9</key>
	<string>水中3组</string>
	<key>10</key>
	<string>矿物组</string>
	<key>11</key>
	<string>不定形组</string>
	<key>12</key>
	<string>水中2组</string>
	<key>13</key>
	<string>百变怪组</string>
	<key>14</key>
	<string>龙组</string>
	<key>15</key>
	<string>未发现组</string>
	<key>16</key>
	<string>性别不明组</string>
</dict>
</plist>
